<% if (page.series){ %>
    <hr/>
    <div class="post-series"><b><%= __('post.common.series') %></b> #<%= page.series %>
        <% var i = 0; %>
        <% site.posts.sort('date').map(function(p){ %>
            <% if (page.series === p.series){ %>
                <p><a href="<%- url_for(p.path) %>"><%= "(" + ++i + ")" + p.title %></a></p>
            <% } %>
        <% }) %>
    </div>
<% } %>