.featured-icon {
  color: $color-accent-1;
  margin-right: 5px;
}

$base-style
  h1, .h1
    display: block
    margin-top: .5rem
    margin-bottom: .5rem
    color: $color-accent-1
    letter-spacing: .01em
    font-weight: bolder
    font-style: normal
    font-size: 1.5em

    antialias()

  h2, .h2
    position: relative
    display: block
    margin-top: .5rem
    margin-bottom: .5rem
    color: $color-accent-2
    text-transform: none
    letter-spacing: normal
    font-weight: bold
    font-size: 1rem

  h3
    color: $color-accent-2
    text-decoration: none
    font-weight: bold
    font-size: .9rem

  h4
  h5
  h6
    display: inline
    text-decoration: none
    color: $color-accent-3
    font-weight: bold
    font-size: .9rem

  h3
  h4
  h5
  h6
    margin-top: .5rem
    margin-bottom: .5rem

  hr
    border: .5px dashed $color-accent-3
    opacity: .5
    margin: 0
    margin-top: .5px
    margin-bottom: .5px

  strong
    font-weight: bold

  em
  cite
    font-style: italic

  sup
  sub
    position: relative
    vertical-align: baseline
    font-size: .75em
    line-height: 0

  sup
    top: -.5em

  sub
    bottom: -.2em

  small
    font-size: .85em

  acronym
  abbr
    border-bottom: 1px dotted

  ul
  ol
  dl
    line-height: $line-height

  ul
  ol
    ul
    ol
      margin-top: 0
      margin-bottom: 0

  ol
    list-style: decimal

  dt
    font-weight: bold

  table
    width: 100%
    border-collapse: collapse
    text-align: left
    font-size: $font-size - 2px
    overflow: auto
    display: block

  th
    padding: 8px
    border-bottom: 1px dashed $color-border
    color: $color-accent-2
    font-weight: bold
    font-size: $font-size - 1px

  td
    padding: 0 8px
    border-bottom: none

.hcb-block
  margin: 1.5em 0 // Add vertical margin for separation
  padding: 1em // Add padding inside the block
  border-radius: 4px // Slightly rounded corners
  border: 1px solid $color-accent-1 // Solid border with accent color

  .hcb-block-title
    font-weight: bold
    margin-bottom: 0.5em
    display: flex
    align-items: center

    .fa // Font Awesome icon
      margin-right: 0.5em
      color: $color-accent-1 // Icon color to accent color
      font-family: "Font Awesome 5 Free"
      font-weight: 900

  // Type-specific styles
  &.hcbinfo
    // No specific background-color

  &.hcbtip
    // No specific background-color

  &.hcbexample
    // No specific background-color

.post-mark
  display: inline-block
  padding: 2px 4px
  font-size: 0.9em
  margin-left: 0 // 边距设为0
  background-color: $color-text // 背景色设为全局文字颜色
  color: $color-background // 文字颜色设为全局背景色
  vertical-align: middle // 垂直居中对齐
  border-radius: 4px // 增加圆角
  line-height: 1 // 消除额外行高



