$color-background = #FFFFFF
$color-footer-mobile-1 = darken($color-background, 2%)
$color-footer-mobile-2 = darken($color-background, 10%)
$color-background-code = darken($color-background, 2%)
$color-border = #383838
$color-meta = #383838
$color-meta-code = lighten($color-meta, 10%)
$color-link = #4e7ca1
$color-text = #383838
$color-accent-1 = #4e7ca1
$color-accent-2 = #4e7ca1
$color-accent-3 = #383838
$color-quote = #4e7ca1
$highlight = hexo-config("highlight") || "atelier-cave-light"