.blog-post-comments
  margin-top: 3rem

.blog-post-comments-btn
  background: $color-background;
  border: 1px dashed $color-border;
  border-radius: 4px;
  color: $color-text
  margin: 3rem 0 0 0

#valine_comments .vwrap
  border: 1px dashed $color-border;