.blog-post-comments
  margin-top: 0rem

.blog-post-comments-btn
  margin: auto
  background: $color-background;
  border: 1px dashed $color-border;
  border-radius: 4px;
  color: $color-text
  width: 150px

#valine_comments .vwrap
  border: 1px dashed $color-border;