.blog-post-comments
  margin-top: 0rem
  font-family: $font-family-body

  .vinput,
  .vbtn
  #veditor
    color: $color-text
    font-family: $font-family-body

.blog-post-comments-btn
  margin: auto
  background: $color-background
  border: 1px dashed $color-border
  border-radius: 4px
  color: $color-text
  width: 150px
  font-family: $font-family-body

#valine_comments .vwrap
  border: 1px dashed $color-border;